<%- include("partials/header") %> 
<div class="todos">
    <% for(var i=0;i<itemArray.length;i++){ %> 
        <div class="card">
        <p class="listadded font-weight-bold"><%= itemArray[i] %></p></div>
   <%  } %> 
 </div>
 <div class="myform">
<form action="/" method="POST"> 
  <div class="form-group">
    <label class="label"for="todo">Enter Things ToDo</label>
<input class="form-control"id="todo" type="text" name="item">
</div>
<button class="btn mybtn"type="submit">ADD</button>
</form>
</div>
 
<%- include("partials/footer") %> 