<html>
  <head>
    <title>Todo</title>
  </head>
  <body>
      <h1>TODO</h1>
    <% for(var i=0;i<itemArray.length;i++){ %> 
        <li><%= itemArray[i] %></li>
   <%  } %> 
<form action="/" method="POST"> 
<input id="todo" type="text" name="item">
<button type="submit">ADD</button>
</form>
  </body>
</html>
